@tailwind base;
@tailwind components;
@tailwind utilities;


/* Défilement élégant */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}



.sidebar-transition{
  transition: .4s cubic-bezier(0,0,1,1);
  transition-timing-function: ease-in-out;
}

.hide {
  display: none;
}

#close-sidebar{
  position: absolute;
  top: 12%;
  left: 11.5%;
  color: white;
}

#open-sidebar{
  position: absolute;
  top: 11.8%;
  left: 1.8%;
}

#sidebar{
  display: flex;
  width: 15%;
  flex-direction: column;
  background-color: #27272a;
  padding : 1rem;
}

#sidebar.close{
  width: 5%;
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#list-buttons{
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

#list-buttons.fixed{
  height: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-graph{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.responsive-graph {
  width: 100%;
  height: 100%;
}
.graphique{
  width: 32%;
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5rem;
  padding-bottom: .5rem;
  border-radius: 0.375rem;
  background-color: #27272a;
  gap: .5rem;
}

.render{
  height: 100%;
  border-radius: 0.375rem;
}

/* Style pour les tableaux process-tab et group-tab */
.custom-table {
  border: 1px solid #3f3f46; /* Ajout d'une bordure fine */
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.custom-thead {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  background-color: #27272a; /* Couleur sombre pour le header */
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  text-align: left; 
  margin-right: 10px;
}

.custom-thead div {
  padding: 0.2rem;
}

.custom-tbody {
  display: flex;
  flex-direction: column;
  background-color: #18181b; /* Corps légèrement plus clair */
  color: #d1d5db; /* Texte gris clair */
  overflow-y: auto;
  max-height: 200px; /* Défilement si nécessaire */
}

.custom-tbody .line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35%;
  transition: background-color 0.3s ease;
}

.custom-tbody .line:nth-child(even) {
  background-color: #232323; /* Alternance pour meilleure lisibilité */
}

.custom-tbody .line:hover {
  background-color: #374151; /* Survol */
}

.cell {
  padding: 0.5rem;
  text-align: left;
}

.col-1 {
  width: 75%;
  padding-left: 2rem;
}

.col-2 {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-2 input[type="checkbox"] {
  accent-color: #10b981; /* Vert Tailwind */
}

.col-2.line{
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.col-3{
  padding-left: .5rem;
}
.col-3.line{
  padding-right: 1rem;
  padding-left: 1.5rem;
}

.group-tab .custom-thead {
  text-align: center;
}

.group-tab .line {
  justify-content: space-between;
}

.group-tab .line div {
  flex: 1;
  text-align: center;
}



.h-full > div > .graphique{
  width: 100%;
  height: 100%;
} 

.h-full.flex.flex-col.gap-1 > .graphique{
  width: 100%;
  height: 20%;
} 








.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-light-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-regular-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-bold-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
